<nav>
    <a id="name" href="/">Jokoci.de</a>
    <a href="mailto:jokocide@outlook.com">Mail</a>
    <a href="https://github.com/jokocide">Github</a>
    <a href="#" onclick="toggle()">
        <button>Theme</button>
    </a>
</nav>