@charset "UTF-8";

:root {
    --color-bg-dark: rgb(40, 42, 45);
    --color-bg-dark-match: rgb(46, 48, 50);
    --color-bg-light: rgb(255, 255, 255);
    --color-bg-light-match: rgb(248, 248, 248);
    --color-bg-blend: rgba(117, 117, 117, 0.185);
    --color-main: rgb(47, 97, 67);
    --color-link: rgb(70, 119, 188);
    --variable-object-radius: 12px;
    overflow-y: scroll;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

:root.dark {
    --bg: var(--color-bg-dark);
    --font: var(--color-bg-light-match);
    --term: var(--color-bg-dark-match);
}

:root.light {
    --bg: var(--color-bg-light);
    --font: var(--color-bg-dark-match);
    --term: var(--color-bg-light-match);
}

body {
    background: var(--bg);
    color: var(--font);
    margin-top: 40px;
}

main {
    width: 90%;
    max-width: 1200px;
    border-top: 1px solid var(--color-blend);
    margin: auto;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    border-radius: var(--variable-object-radius);
    padding: 3px 13px;
    background: var(--font);
    color: var(--bg);
    border: none;
    min-width: 20px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(238, 238, 238, 0.7);
    height: 52px;
    inset: 0px;
}

@supports (-webkit-backdrop-filter: saturate(1.8) blur(20px)) or
  (backdrop-filter: saturate(1.8) blur(20px)) {
  nav {
    backdrop-filter: saturate(1.8) blur(17px);
    -webkit-backdrop-filter: saturate(1.8) blur(17px);
    background: rgba(255, 255, 255, 0.80);
  }
}

nav * {
    font-size: 14px;
    text-transform: uppercase;
}

nav #name {
    color: var(--color-main);
}

nav a {
    padding: 13px;
    color: black;
}

pre {
    font-size: .95em;
    background: var(--bg);
    border-top: 3px solid var(--color-bg-blend);
    border-left: 3px solid var(--color-bg-blend);
    border-bottom: 3px inset var(--color-bg-blend);
    border-right: 3px inset var(--color-bg-blend);
    outline-offset: 60px;
    color: var(--font);
    padding: 1em;
    margin: 2em auto;
    overflow: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}

article {
    padding: 1em;
    margin: auto;
}

header {
    max-width: 100%;
    width: 45em;
    margin: auto;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 3em;
}

header > h1 {
    font-size: 3.7em;
    margin-bottom: 0.4em;
}

#index-posts-container {
  display: flex;
  flex-direction: column;
}

#index-posts-container h1 {
    font-size: 2.5em;
}

#index-posts-container li {
    font-size: 1.1em;
}

#index-posts-container li > * {
    display: inline;
}